@page
@model ICQS_Management.Pages.QuotationManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <div>Project Name</div>
        <dd>@Html.DisplayFor(model => model.Project.ProjectName)</dd>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectMaterialList[0].MaterialName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectMaterialList[0].Quantity)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProjectMaterialList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaterialName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Quotation.QuotationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
