@page
@model ICQS_Management.Pages.QuotationManagement.projectMatIndexModel

@{
    ViewData["Title"] = "projectMatIndex";
}

<h1>projectMatIndex</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMaterial[0].Projects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMaterial[0].Materials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMaterial[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProjectMaterial) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Projects.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materials.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProjectMaterialId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProjectMaterialId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProjectMaterialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
