@page
@model ICQS_Management.Pages.Account_Staff.DetailsModel

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.StaffId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff?.UserId">Edit</a> |
    <a asp-page="./Index" asp-route-id="@Model.Staff?.UserId">Back to List</a>
</div>
