@page
@model ICQS_Management.Pages.BatchsManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].ImportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].AdminId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Batch) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BatchId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BatchId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
