@page
@model ICQS_Management.Pages.ProjectManagement.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="margin-bottom: 2vh; text-align: center">Project Management</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].AreaPerFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].NumOfFloors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaPerFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfFloors)
            </td>
                <td>
                    @{
                        var formattedTotalPrice = string.Format("{0:N0}", item.TotalPrice); // Format with commas
                    }
                    @formattedTotalPrice
                </td>
            <td>
                    @if (item.Status == 1)
                    {
                        <span>Sample Project</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span>Customer Project</span>
                    }
                    else
                    {
                        <span>Disabled</span>
                    }
            </td>
            <td style="display: flex; justify-content: space-evenly; border-bottom: 0; width: 320px">
                @if (item.Status == 1)
                {
                    <a asp-page="./EditProject" asp-route-id="@item.ProjectID" class="btn btn-primary" style="display: flex; justify-content: center; align-items: center">Edit</a>
                }
                <a asp-page="./ProjectMaterialList" asp-route-id="@item.ProjectID" asp-route-status="@item.Status" class="btn btn-primary" style="display: flex; justify-content: center; align-items: center">Details</a>
                @if (item.Status == 1)
                {
                    <a asp-page="./ChangeStatus" asp-route-id="@item.ProjectID" class="btn btn-danger" style="display: flex; justify-content: center; align-items: center">Disable</a>
                }
                @if (item.Status == 0)
                {
                    <a asp-page="./ChangeStatus" asp-route-id="@item.ProjectID" class="btn btn-success" style="display: flex; justify-content: center; align-items: center">Enable</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
