@page
@model ICQS_Management.Pages.ProjectManagement.ProjectMaterialListModel

@{
    ViewData["Title"] = "ProjectMaterialList";
}
<a asp-page="Index" style="margin-right: 48px">&#8592; Back to Project List</a>

<h1 class="title">Project's Material</h1>
<h3 class="title" style="margin-bottom: 2vh">Project Name: @Model.ProjectName</h3>

<p class="create_button">
    @if (Model.Status == 1)
    {
        <a asp-page="./CreateProjectMaterial" asp-route-Projectid="@Model.ProjectId" class="btn btn-primary">Add</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMaterialList[0].MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMaterialList[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMaterialList[0].MediumPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMaterialList[0].UnitType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectMaterialList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediumPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType)
            </td>
            <td>
                @if (Model.Status == 1)
                {
                    @if(Model.countProjectMaterial > 1)
                    {
                        <a asp-page="./DeleteProjectMaterial" asp-route-id="@item.ProjectMaterialId" class="btn btn-danger" style="width: 40%; text-align: center">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
