@page
@model ICQS_Management.Pages.BatchsManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchDetails[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchDetails[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchDetails[0].Materials.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BatchDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materials.Name)
                </td>
                <td>
                    <a asp-page="/AdminManagement/BatchDetailsManagement/Edit" asp-route-id="@item.BatchDetailId">Edit</a> |
                </td>
            </tr>
        }
        <form method="post">
            <button type="submit">Create More Details</button>
            <input type="hidden" asp-for="BId" value="@Model.BatchDetails[0].BatchId" />
        </form>

    </tbody>
</table>
