@page
@model ICQS_Management.Pages.AdminManagement.MaterialTypeManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="title">Material Management</h1>
<div style="width: 90%; margin: 0 auto">
    <h2 class="text-center" style="margin-bottom: 7vh">Material Type Detail</h2>
    <div>
        <dl>
            <div class="add_box">
                <div>
                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.MaterialType.MaterialTypeName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MaterialType.MaterialTypeName)
                        </dd>
                    </div>
                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.MaterialType.UnitType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MaterialType.UnitType)
                        </dd>
                    </div>
                </div>
            </div>
        </dl>
        <div style="display: flex; justify-content: center">
            <a asp-page="./Edit" asp-route-id="@Model.MaterialType.MaterialTypeId" class="btn btn-primary mr-3">Edit</a>
            <a asp-page="./Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>
