@page
@model ICQS_Management.Pages.AdminManagement.MaterialTypeManagement.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="title">Material Type Management</h1>

<p class="create_button">
    <a asp-page="Create" class="btn btn-primary" style="height: 50px; display: flex; align-items: center; justify-content: center; width: 200px; background-color: rgb(53, 84, 209)">Add Material Type</a>
</p>
<table class="table">
    <thead class="table_header">
        <tr>
            <th>
                Material Type Name
            </th>
            <th>
                Unit Type
            </th>
            <th>
                Quantity Per Area
            </th>
            <th style="width: 10%">Action</th>
        </tr>
    </thead>
    <tbody class="table_body">
@foreach (var item in Model.MaterialType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerArea)
            </td>
            <td style="display: flex; justify-content: space-between; border-top: 0; align-items: center; height: 70px">
                <div class="action_button">
                    <a asp-page="./Edit" asp-route-id="@item.MaterialTypeId" style="display: flex; justify-content: center; align-items: center; color: #44494D"><i class="fas fa-edit" style="font-size: 20px"></i></a>
                </div>
                <div class="action_button">
                    <a asp-page="./Details" asp-route-id="@item.MaterialTypeId" style="display: flex; justify-content: center; align-items: center; color: #44494D"><i class="fas fa-info-circle" style="font-size: 20px"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
