@page
@model ICQS_Management.Pages.QuotationManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quotation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.EstimatePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.EstimatePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.Project.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Quotation.QuotationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
