@page
@model ICQS_Management.Pages.Account.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center mb-2">Customer Profile</h2>
<div class="d-flex justify-content-center">
    <div class="profile_wrapper">
        <div class="img_bg"></div>
        <img src="https://i.ibb.co/c6c5r0p/profile-user.png" width="30" height="30" />
        <div class="user_details">
            <div>
                <dl class="row">
                    @* <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Customer.CustomerId)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Customer.CustomerId)
                    </dd> *@
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Customer.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Customer.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Customer.Email)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Customer.Email)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Customer.Password)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Customer.Password)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Customer.PhoneNumber)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.Customer?.UserId">Edit</a>
                @* <a asp-page="./Index" asp-route-id="@Model.Customer?.UserId">Back to HomePage</a> *@
            </div>
        </div>
    </div>
</div>



