@page
@model ICQS_Management.Pages.AdminManagement.MaterialManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDTO[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDTO[0].MediumPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDTO[0].MaterialTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDTO[0].UnitType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MaterialDTO)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediumPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType)
            </td>
            <td style="display: flex; justify-content: space-evenly; border-bottom: 0; width: 320px">
                <a asp-page="./Edit" asp-route-id="@item.MaterialId" class="btn btn-primary" style="display: flex; justify-content: center; align-items: center">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.MaterialId" class="btn btn-primary" style="display: flex; justify-content: center; align-items: center">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @if (Model.PageCount > 1)
    {
        <ul class="pagination">

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")"><a class="page-link" asp-page="./Index" asp-route-pageNumber="@i">@i</a></li>
            }

        </ul>
    }
</div>
