@page
@model ICQS_Management.Pages.AdminManagement.MaterialManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Material Management</h1>

<p class="create_button">
    <a asp-page="Create" class="btn btn-primary" style="height: 50px; display: flex; align-items: center; justify-content: center; width: 150px; background-color: rgb(53, 84, 209)">Add Material</a>
</p>
@{
    if (Model.message != string.Empty)
    {
        <div id="notification" class="notification"></div>
        <script>
            var notification = document.getElementById("notification");
            notification.innerText = "@Model.message";
            notification.classList.add("show");

            setTimeout(function () {
                notification.classList.remove("show");
            }, 2000);
        </script>
    }
}
<table class="table">
    <thead class="table_header">
        <tr>
            <th>
                Material Name
            </th>
            <th>
                Medium Price
            </th>
            <th>
                Material Type Name
            </th>
            <th>
                Unit Type
            </th>
            <th style="width: 40%">Action</th>
        </tr>
    </thead>
    <tbody class="table_body">
        @foreach (var item in Model.MaterialDTO)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{
                    var formattedMediumPrice = string.Format("{0:N0}", item.MediumPrice);
                }
                @formattedMediumPrice $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType)
            </td>
                <td style="display: flex; justify-content: space-between; border-top: 0; align-items: center; height: 70px">
                <div class="action_button">
                        <a asp-page="./Edit" asp-route-id="@item.MaterialId" style="display: flex; justify-content: center; align-items: center; color: #44494D"><i class="fas fa-edit" style="font-size: 20px"></i></a>
                </div>
                <div class="action_button">
                        <a asp-page="./Details" asp-route-id="@item.MaterialId" style="display: flex; justify-content: center; align-items: center; color: #44494D"><i class="fas fa-info-circle" style="font-size: 20px"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @if (Model.PageCount > 1)
    {
        <ul class="pagination">

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link rounded-circle" style="line-height: 1.35 !important" asp-page="./Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }

        </ul>
    }
</div>
