@page
@model ICQS_Management.Pages.Admin_View.DetailsModel


<h1 class="title">User Management</h1>
<div style="width: 90%; margin: 0 auto">
    <h2 class="text-center" style="margin-bottom: 7vh">User Detail</h2>
    <div>
        <dl>
            <div class="add_box">
                <div>
                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.User.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.User.Name)
                        </dd>
                    </div>
                    <div class="info">
                        <dt>
                            Role
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.User.GetType().Name)
                        </dd>
                    </div>
                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.User.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.User.Email)
                        </dd>
                    </div>
                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.User.PhoneNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.User.PhoneNumber)
                        </dd>
                    </div>
                </div>
            </div>
        </dl>
        <div style="display: flex; justify-content: center">
            <a asp-page="./Edit" asp-route-id="@Model.User.UserId" class="btn btn-primary mr-3">Edit</a>
            <a asp-page="./Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>
