@page
@model ICQS_Management.Pages.Account_Staff.ApplyBatchModel

@{
    ViewData["Title"] = "ApplyBatch";
}

<h1 class="text-center">Apply Quotation Materials</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<hr />
<form method="post" class="w-100">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Quotation.QuotationId" />
    <input type="hidden" asp-for="Project.ProjectID" />

    <div class="row">
        <div class="col-md-8">
            <h5 class="text-center">Quotation Information</h5>
            <dl class="row" style="padding: 1.5rem 0.5rem; border: 0.1rem solid rgba(0, 0, 0, 0.3); border-radius: 0.5rem;">
                <dt class="col-md-4">Request Date</dt>
                <dd class="col-md-8">
                    <input asp-for="Quotation.RequestDate" class="form-control" readonly />
                    <span asp-validation-for="Quotation.RequestDate" class="text-danger"></span>
                </dd>
                <dt class="col-md-4">Project Name</dt>
                <dd class="col-md-8">
                    <input asp-for="Project.ProjectName" class="form-control" readonly />
                    <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
                </dd>
                <dt class="col-md-4">Description</dt>
                <dd class="col-md-8">
                    <input asp-for="Project.Description" class="form-control" readonly />
                    <span asp-validation-for="Project.Description" class="text-danger"></span>
                </dd>
                <dt class="col-md-4">Area/Floor</dt>
                <dd class="col-md-8">
                    <input asp-for="Project.AreaPerFloor" class="form-control" readonly />
                    <span asp-validation-for="Project.AreaPerFloor" class="text-danger"></span>
                </dd>
                <dt class="col-md-4">Floors</dt>
                <dd class="col-md-8">
                    <input asp-for="Project.NumOfFloors" class="form-control" readonly />
                    <span asp-validation-for="Project.NumOfFloors" class="text-danger"></span>
                </dd>
                <dt class="col-md-4">Workers</dt>
                <dd class="col-md-8">
                    <input id="Project_NumOfLabors" asp-for="Project.NumOfLabors" class="form-control" readonly />
                    <span asp-validation-for="Project.NumOfLabors" class="text-danger"></span>
                </dd>
                <dt class="col-md-4">Worker salary/month</dt>
                <dd class="col-md-8">
                    <input id="Project_LaborSalaryPerMonth" asp-for="Project.LaborSalaryPerMonth" class="form-control" readonly />
                    <span asp-validation-for="Project.LaborSalaryPerMonth" class="text-danger"></span>
                </dd>
                <dt class="col-md-4">Duration (month)</dt>
                <dd class="col-md-8">
                    <input id="Project_MonthDuration" asp-for="Project.MonthDuration" class="form-control" readonly />
                    <span asp-validation-for="Project.MonthDuration" class="text-danger"></span>
                </dd>
                <dt class="col-md-4">Preview total price</dt>
                <dd class="col-md-8">
                    <input id="Project_TotalMaterialPrice" value="@Model.materialPrice" class="form-control" readonly/>
                </dd>
            </dl>
            <table class="table" style="padding: 1.5rem 0.5rem; border: 0.1rem solid rgba(0, 0, 0, 0.3); border-radius: 0.5rem;">
                <caption style="caption-side: top; font-weight: bold;">Quotation Materials</caption>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProjectMaterials[0].MaterialName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProjectMaterials[0].Quantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectMaterials)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaterialName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Batches[0].ImportDate)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Batches)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImportDate)
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample-@item.BatchId" aria-expanded="false" aria-controls="collapseExample-@item.BatchId">
                                    View details
                                </button>
                                <div class="collapse" id="collapseExample-@item.BatchId">
                                    <div class="card card-body">
                                        <table class="table">
                                            <thead>
                                            <th>Material Name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            </thead>
                                            <tbody>
                                                @foreach (var bd in item.BatchDetails)
                                                {
                                                    <tr>
                                                        <td>@bd.Materials.Name</td>
                                                        <td>@bd.Quantity</td>
                                                        <td>@bd.Price</td>
                                                    </tr>
                                                }
                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <input type="checkbox" name="SelectedItems" value="@item.BatchId" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <div class="d-flex justify-content-center">
        <input type="submit" name="saveBtn" value="Save" class="btn btn-primary mr-5" />
        <input type="submit" name="previewBtn" value="Preview" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <!-- Load jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Load jQuery Validate plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <!-- Load jQuery Validate Unobtrusive plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

